.pagination{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.pagination a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}
.pagination a.active{
    background-color: aqua;
    color: white;
    border: 1px solid aqua;
}
.pagination a:hover:not(.active){
    background-color: #ddd;
}
flex-center{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tp-video-nav{
    margin-top: 70px;
    padding: 20px 0px 0px 0px;
    text-align: center;

}

.content {
    position: relative;
    float: left;
    margin: 15px 0px 0px 0px;
    overflow: hidden;
    width:69.076%;
    max-width: 860px;
}
.content-wrapper {
    float: left;
    width: 69.076%;
    max-width: 860px;
}
.sidebar-left {
    position: relative;
    float: left;
    padding: 0px 1.1% 0 0%;
    text-align: right;
}
.sidebar {
    width: 21.619%;
    max-width: 385px;
}



/*!*#wrapper.toggled {*!*/
    /*!*padding-left: 250px;*!*/
/*!*}*!*/

.sidebar-nav {
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    width: 250px;
    padding: 0;
    list-style: none;
}

.sidebar-right {
    position: relative;
    float: right;
    width: 30.923%;
    padding: 0px 0 0 1.417%;
    text-align: left;
}

.sidebar {
    width: 21.619%;
    max-width: 385px;
}
/*.sidebar-nav li {*/
    /*text-indent: 20px;*/
    /*line-height: 40px;*/
/*}*/

/*.sidebar-nav li a {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*color: #999999;*/
/*}*/
/*.sidebar-nav>.sidebar-brand {*/
    /*height: 65px;*/
    /*font-size: 18px;*/
    /*line-height: 60px;*/
/*}*/

/*.sidebar-nav>.sidebar-brand a {*/
    /*color: #999999;*/
/*}*/

/*.sidebar-nav>.sidebar-brand a:hover {*/
    /*color: #fff;*/
    /*background: none;*/
/*}*/

.footer{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: midnightblue;
    color: white;
    text-align: center;
}